{% extends 'base.html' %}
{%block title%} Subjects {%endblock%}
{% from "_formhelpers.html" import render_field%}

{%block body%} 
<div class="container" style="margin-top: 50px;">
    <form method="POST">
        <form method="POST" class="container shadow text-center mt-5 bg-transparent p-5">
        {%for message in get_flashed_messages()%}
        <div class="container alert alert-primary rounded-0 alert-dismissible fade show">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {%endfor%}
     <dl>
        {{render_field(form.name,class='form-control col-4')}}
     </dl>
     <button type="submit" class="btn btn-danger">ADD SUBJECT</button>
    </form>
</div>
{%endblock%}