{% from "_formhelpers.html" import render_field%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
    <title>Teacher login</title>
</head>
<body class="bg-light" >
    <form method="POST" class="container shadow text-center mt-5 bg-transparent p-5">
        {%for message in get_flashed_messages()%}
        <div class="container alert alert-primary rounded-0 alert-dismissible fade show">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {%endfor%}
        <dl>
            {{render_field(form.email,class='form-control col-4 offset-4')}}
            {{render_field(form.password,class='form-control col-4 offset-4')}}
        </dl>
        <button type="submit" class="btn btn-success">LOGIN</button>
    </form>
</body>
</html>